
ul {
    list-style: none;
}

li:hover  {
    color: #00b7ff;
}

a {
    text-decoration: none;
    color: currentColor;
}

.up-header {
    background-color: #00b7ff;
    color: aliceblue;
}

.active {
    color: #00b7ff;
    border-bottom: 2px solid #00b7ff ;
}

